<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="/main.css">
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.3/css/swiper.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        
        <title>Marselisborg Gymnasiums infoskærm admin</title>
    </head>
    <body>
<div class="ui container" style="padding-top: 15px;">
    <h1>Marselisborg Gymnasiums infoskærm</br></h1>
    <h2>Oversigt over nyheder</h2>
    <div class="ui grid">
        <div class="three column row">
            <% allNews.forEach(function(newsItem){ %>
                    <div class="ui column segment">
                        <div class="adminoversigt"><img class="ui image" src="<%= newsItem.foto %>"></img></div>
                            <div class="" style="padding-top: 5px;"><strong><%= newsItem.overskrift %></strong></div>
                            <div class=""><%= newsItem.undertitle %></div>
                            </br><a href="/<%= newsItem._id %>">Se nyhed</a>
                        </div>
                    <br></br>
                    <% }); %>
        </div> 
    </div>
    </br>
    <p><a href="/new">Tilføj nyhed</a></p>
    <p><a href="/">Se infoskærmen</a></p>
</div>
</body>
</html>