<!DOCTYPE html>
<html>
    <head>
        <title>Marselisborg Gymnasiums infoskærm tilføj nyhed</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
    
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Tilføj nyhed</h1>
        <div style="width: 40%; margin: 25px auto;">
            <form action="/" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="overskrift" placeholder="overskrift">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="undertitle" placeholder="undertitle">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="foto" placeholder="url til foto">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/admin">Tilbage til oversigt</a>
        </div>
    </div>
</div>

    </body>
</html>